.header {
    width: 100%;
    display: table;
    height: 80px;
    top: 0;
    left: 0;
    background: white;
    font-family: "futura-pt";
    font-size: 21px;
    box-shadow: 0 1px 20px rgba(black,.20);
    position: fixed;
    z-index: 256;
    
    .logo {
        display: inline-block;
        vertical-align: middle;
        height: 80px;

        a, img {
            height: 80px;
        }
        img {
            width: auto;
        }
    }
    .menu {
        float: right;
        display: inline-block;
        height: 80px;
        a {
            line-height: 80px;
            color: #263238;
            cursor: pointer;
            display: table-cell;
            vertical-align: middle;
            padding: 0px 15px;
            text-decoration: none;
            transition-timing-function: linear;
            transition-duration: .15s;
        }
        a:hover,
        a:active {
            color: #1fb6ff !important;
        }
    }
}

$tablet-landscape-size: 991px;
$phone-portrait-size: 540px;

/* Using SCSS variables to store breakpoints */

@media (max-width: $tablet-landscape-size) {
    .header {
        display: block;
        height: auto;
        top: 0;
        left: 0;
        position: relative;

        .logo {
            display: block;
            text-align: center;
        }
        .menu {
            min-width: 100px;
            height: 50px;
            text-align: center;
            margin: 20px auto;
            float: none;
            display: block;
            font-size: 14px;
            a {
                line-height: 50px;
                display: inline-block;
                margin-left: 0;
                margin-right: 20px;
                padding: 0;
            }
            a:last-child {
                margin-right: 0px;
            }
        }
    }
}

@media (max-width: $phone-portrait-size) {
    #hero {
        padding-top: 60px;
        padding-bottom: 80px;

        h1 {
            font-size: 40px;
        }

        p {
            font-size: 28px;
        }

        .button {
            font-size: 24px;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }

    #features {
        h2,h3 {
            text-align: left;
        }
    }

    #claim {
        p,q {
            text-align: left;
        }
        q {
            font-size: 30px;
            line-height: 1.3em;
        }
    }

    #last-call {
        p {
            font-size: 30px;
            line-height: 1.3em;
        }
    }
}