<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">  
        <!-- CSS -->
        <link rel="preload" href="{{ site.baseurl }}/css/main.css" as="style">
        <link rel="preload" href="{{ site.baseurl }}/css/main.css" as="style" onload="this.rel='stylesheet'">
        <noscript><link rel="stylesheet" href="{{ site.baseurl }}/css/main.css"></noscript>
        
        <!-- async css function -->
        <script>
          /*! loadCSS. [c]2017 Filament Group, Inc. MIT License */
          !function(a){"use strict";var b=function(b,c,d){function e(a){return h.body?a():void setTimeout(function(){e(a)})}function f(){i.addEventListener&&i.removeEventListener("load",f),i.media=d||"all"}var g,h=a.document,i=h.createElement("link");if(c)g=c;else{var j=(h.body||h.getElementsByTagName("head")[0]).childNodes;g=j[j.length-1]}var k=h.styleSheets;i.rel="stylesheet",i.href=b,i.media="only x",e(function(){g.parentNode.insertBefore(i,c?g:g.nextSibling)});var l=function(a){for(var b=i.href,c=k.length;c--;)if(k[c].href===b)return a();setTimeout(function(){l(a)})};return i.addEventListener&&i.addEventListener("load",f),i.onloadcssdefined=l,l(f),i};"undefined"!=typeof exports?exports.loadCSS=b:a.loadCSS=b}("undefined"!=typeof global?global:this);
        </script>

        <!-- async typekit call -->
        <script>
          (function(d) {
            var config = {
              kitId: 'qlb5ahq',
              scriptTimeout: 3000,
              async: true
            },
            h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
          })(document);
        </script>
    </head>
    <body>
        <div class="header">
          <div class="container">  
            <div class="logo">
              <a href="/">
                <img src="img/logo.jpg" alt="logo">
              </a>
              </div>

            <div class="menu">
              <a class="extra" href="#features">What</a>
              <a class="extra" href="#pricing">Pricing</a>
              <a class="extra" href="#people">Who</a>
              <a class="extra" href="mailto:info@sprintdriven.design">Contattaci</a>
           </div>
          </div>
        </div>
        
        <section id="hero" style="background-image: url('{{ site.baseurl }}/img/hero.jpg'); background-size: cover;">
          <div class="container">
            <div class="row">
              <div class="col-dt-70">
               <h1>
                 Design Sprint è un processo di cinque giorni per testare idee critiche di business attraverso design, prototipi e test sugli utenti
               </h1>
               <p>Siamo un team di designer specializzati in questa tecnica</p>
               <a href="mailto:info@sprintdriven.design">
                 <button class="button button-default">
                   Contattaci ora
                 </button>
               </a>
              </div>
            </div>
          </div>          
        </section>
        
        <section id="features">
          <div class="container">
            <h2>
              Google® Ventures utilizza Design Sprint nella progettazione dei suoi prodotti
            </h2>
            <h3>
              Si tratta di una collezione di tecniche che permette di arrivare a testare il tuo prodotto o feature in soli 5 giorni. Slack, Nest, Blue Bottle Coffee hanno già utilizzato con successo questa tecnica.
            </h3>
            <div class="row">
              <div class="col-tl-20 day">
                <img src="{{ site.baseurl }}/img/days/1.jpg" alt="">
                <p class="day-label">
                  Giorno 1
                </p>
                <h4>Definiamo gli obbiettivi</h4>
                <p class="day-description">
                  Individuiamo problemi, esigenze e stabiliamo gli obbiettivi concreti e reali del design sprint. Non andremo direttamente sulla luna ma faremo qualche passo verso il successo
                </p>
              </div>
              
              <div class="col-tl-20 day">
                <img src="{{ site.baseurl }}/img/days/2.jpg" alt="">
                <p class="day-label">
                  Giorno 2
                </p>
                <h4>Sketch Day</h4>
                <p class="day-description">
                  Lavoriamo con carta e penna alla creazione di schizzi: per ora non vogliamo essere troppo precisi, ma vogliamo esplorare le soluzioni
                </p>
              </div>

              <div class="col-tl-20 day">
                <img src="{{ site.baseurl }}/img/days/3.jpg" alt="">
                <p class="day-label">
                  Giorno 3
                </p>
                <h4>Decidiamo quale soluzione testare</h4>
                <p class="day-description">
                  Ogni prodotto ha infinite possibili feature da testare ma i nostri obiettivi ci impongono di selezionare una/due soluzioni da sottoporre al vaglio dei nostri utenti
                </p>
              </div>

              <div class="col-tl-20 day">
                <img src="{{ site.baseurl }}/img/days/4.jpg" alt="">
                <p class="day-label">
                  Giorno 4
                </p>
                <h4>Costruiamo il prototipo</h4>
                <p class="day-description">
                  Individuiamo problemi, esigenze e stabiliamo gli obbiettivi concreti e reali del design sprint. Non andremo direttamente sulla luna ma faremo qualche passo verso il successo
                </p>
              </div>

              <div class="col-tl-20 day">
                <img src="{{ site.baseurl }}/img/days/5.jpg" alt="">
                <p class="day-label">
                  Giorno 5
                </p>
                <h4>Testiamo sugli utenti</h4>
                <p class="day-description">
                  Individuiamo problemi, esigenze e stabiliamo gli obbiettivi concreti e reali del design sprint. Non andremo direttamente sulla luna ma faremo qualche passo verso il successo
                </p>
              </div>
            </div>
            <h3>
              Prendere decisioni è difficile. Design Sprint permette di comprimere i tempi e in cinque giorni prendere decisioni critiche testandole con i tuoi utenti.
            </h3>
          </div>
        </section>

        <section id="claim">
          <div class="container">
            <q>
              Grazie al design sprint abbiamo ridotto del 50% il numero di telefonate al nostro helpdesk
            </q>
            <p>DANIELE ALBERTON - <span>SVILUPPATORE INFOASILO</span></p>
          </div>
        </section>

        <section id="pricing">
          <div class="container">
            <h2>Il prezzo è semplice quanto il processo</h2>
            <div class="row">
              <div class="card push-dt-20 col-dt-30 push-pp-10 col-pp-80">
                <div class="card-label seed">
                  Seed plan
                </div>
                <div class="card-price">
                  3500€
                </div>
                <p class="price-sub">
                  Ideale per proof-of-concept o per la risoluzione di problemi circoscritti
                </p>
                <ul>
                  <li>
                    1 sprint
                  </li>
                  <li>
                    2 designer full-time
                  </li>
                  <li>
                    video dei test
                  </li>
                  <li>
                    Relazione finale
                  </li>
                </ul>
                <p class="text-center">
                  <a href="mailto:info@sprintdriven.design">
                    <button class="button button-default h3">
                      Contattaci ora
                    </button>
                  </a>
                </p>
              </div>
              <div class="card push-dt-25 col-dt-30 push-pp-10 col-pp-80">
                <div class="card-label power">
                  Power Plan
                </div>
                <div class="card-price">
                  1100€
                </div>
                <p class="price-sub">
                  indeale per progetti complessi o incubatori di startup
                </p>
                <ul>
                  <li>
                    4 sprint
                  </li>
                  <li>
                    2 designer full-time
                  </li>
                  <li>
                    video dei test
                  </li>
                  <li>
                    Relazione settimanale
                  </li>
                </ul>
                <p class="text-center">
                  <a href="mailto:info@sprintdriven.design">
                    <button class="button button-default h3">
                      Contattaci ora
                    </button>
                  </a>
                </p>
              </div>
            </div>

            <h2>Non sei soddisfatto? <br><span class="lighter">Ti rimborsiamo immediatamente il 50% dell'importo</span></h2>

            </div>
          </div>
        </section>

        <section id="people">
          <div class="container">
            <h2 class="text-center">
              Siamo un team con esperienza nella progettazione di prodotti
            </h2>
            <h3 class="text-center">
              Crediamo nel design e nella sua forza di cambiare le cose  
            </h3>
            <div class="row">
              <div class="col-dt-20">
                <img src="{{ site.baseurl }}/img/filippo.jpg" alt="">
              </div>
              <div class="col-dt-50">
                <h4>Filippo Andolfatto</h4>
                <p><em>UX+UI Designer</em></p>
                <br>
                <p>
                  Dal 2013 mi occupo di Design seguendo startup e aziende di varie dimensioni e operanti nei più svariati settori.  Progettare servizi che abbiano un reale impatto sulla vita delle persone è la mia missione quotidiana
                </p>
                <p>
                  <a href="https://it.linkedin.com/in/filippoandolfatto">Linkedin</a> <a href="http://www.pinkstratdesign.com/">Sito personale</a>
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-dt-20">
                <img src="{{ site.baseurl }}/img/giulio.jpg" alt="">
              </div>
              <div class="col-dt-50">
                <h4>Giulio Michelon</h4>
                <p><em>Partner Belka e Designer</em></p>
                <br>
                <p>
                  A 23 anni ho fondato <a href="http://belka.us">Belka</a>, una azienda di design e sviluppo software. Ho avuto la fortuna di lavorare con aziende straordinarie per aiutarle a costruire prodotti digitali.
                </p>
                <p>
                  <p>
                  <a href="https://www.linkedin.com/in/giuliomichelon/">Linkedin</a> <a href="http://giuliomichelon.com/">Sito personale</a>
                </p>
                </p>
              </div>
            </div>
          </div>
        </section>

        <section id="last-call">
          <div class="container">
            <p>
              Medium, Slack, Nest, Mozilla, KLM sono solo alcune delle aziende che hanno usato Design Sprint con successo. 
            </p>
            <a href="mailto:info@sprintdriven.design">
               <button class="button button-default h1">
                  Iniziamo uno sprint assieme
              </button>
            </a>
          </div>
        </section>

      <!-- <script src="{{ site.baseurl }}/js/app.min.js" async></script> -->
    </body>
</html>
